<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Add Employee</title>
</head>
<body>
    <h2>Add Employee</h2>
    <form method="POST" action="{{ url_for('add_employee') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required><br><br>
        <button type="submit" name="add_employee">Add Employee</button>
    </form>
</body>
</html>
