<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Create Course</title>
</head>
<body>
    <body style="background-image: url('static/background.jpg'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
    <h2>Create Course</h2>
    <form method="POST" action="{{ url_for('create_course') }}">
        <label for="course_name">Course Name:</label><br>
        <input type="text" id="course_name" name="course_name" required><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
        
        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date" required><br>
        
        <label for="end_date">End Date:</label><br>label {
            display: block;
            margin-bottom: 5px;
            text-align: center; /* Center text content */
        }
        <input type="date" id="end_date" name="end_date" required><br>
        
        <label for="employee_username">Assign to Employee:</label><br>
        <select id="employee_username" name="employee_username" required>
            {% for employee in employees %}
            <option value="{{ employee[0] }}">{{ employee[0] }}</option>
            {% endfor %}
        </select><br>
        
        <div id="video_fields">
            <div>
                <label for="video_title">Video Title:</label>
                <input type="text" name="video_titles[]" required>
                <label for="video_url">Video URL:</label>
                <input type="url" name="video_urls[]" required>
            </div>
        </div>
        
        <button type="button" onclick="addVideoField()">Add Another Video</button><br>
        
        <input type="submit" value="Create Course">
    </form>

    <script>
        function addVideoField() {
            var container = document.getElementById("video_fields");
            var div = document.createElement("div");
            div.innerHTML = `
                <div>
                    <label for="video_title">Video Title:</label>
                    <input type="text" name="video_titles[]" required>
                    <label for="video_url">Video URL:</label>
                    <input type="url" name="video_urls[]" required>
                </div>`;
            container.appendChild(div);
        }
    </script>
</body>
</html>
