<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Courses</title>
</head>
<body>
    <body style="background-image: url('static/background.jpg'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
    <h2>Employee Courses</h2>
    <ul>
        {% for course in courses %}
        <li>
            <h3>{{ course[1] }}</h3>
            <p><strong>Description:</strong> {{ course[2] }}</p>
            <p><strong>Start Date:</strong> {{ course[3] }}</p>
            <p><strong>End Date:</strong> {{ course[4] }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
