<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Manager Dashboard</title>
    <style>
        .progress-container {
            margin-bottom: 10px;
        }
        .progress-bar {
            background-color: #4caf50;
            height: 20px;
            color: white;
            line-height: 20px;
            text-align: center;
            border-radius: 5px;
        }
        .done {
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <h1>Manager Dashboard</h1>
    
    <!-- Form for adding employee -->
    <h2>Add Employee</h2>
    <p>Click <a href="{{ url_for('add_employee') }}">here</a> to add employee.</p>
    
    <!-- Form for assigning task -->
    <h2>Assign Task</h2>
    <p>Click <a href="{{ url_for('assign_task') }}">here</a> to assign task.</p>
    
    <h2>Schedule Meeting</h2>
    <p>Click <a href="{{ url_for('schedule_meeting') }}">here</a> to schedule meeting.</p>
    <h2>View Attendance</h2>
    <p>Click <a href="{{ url_for('view_attendance') }}">here</a> to view attendance records.</p>
    <h2>Create Announcement</h2>
    <p>Click <a href="{{ url_for('create_announcement') }}">here</a> to create an announcement.</p>
    <h2> View Previous Announcements made</h2>
    <p>Click <a href="{{ url_for('view_announcements') }}">here</a> to view previous announcements.</p>
    <h2>Send and receive messages</h2>
    <p>Click <a href="{{ url_for('messaging') }}">here</a> to view or send messages.</p>

    <h2>Employee List</h2>
    <ul>
        {% for employee, tasks in employees_list %}
            <li>{{ employee }}</li>  <!-- Display only the username -->
            <ul>
                {% for task in tasks %}
                    <li>{{ task[1] }}</li>  <!-- Display task name -->
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    <!-- manager_dashboard.html -->
<!-- ... -->
<a href="{{ url_for('submit_feedback') }}">Submit Feedback</a>

    <h2>View Employee Documents</h2>
    <p>Click <a href="{{ url_for('view_pdf_documents') }}">here</a> to view employee documents.</p>
    
</body>
</html>
