
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Manager Dashboard</title>
    <style>
        .progress-container {
            margin-bottom: 10px;
        }
        .progress-bar {
            background-color: #4caf50;
            height: 20px;
            color: white;
            line-height: 20px;
            text-align: center;
            border-radius: 5px;
        }
        .done {
            background-color: #ccc;
        }
    </style>
</head>
<body> 
<body style="background-image: url('static/background.jpg'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
    <h2>Schedule Meeting</h2>
    <form method="POST" action="{{ url_for('schedule_meeting') }}">
        <label for="employee_username">Employee Username:</label>
        <input type="text" id="employee_username" name="employee_username" required><br><br>
        <label for="meeting_date">Meeting Date:</label>
        <input type="date" id="meeting_date" name="meeting_date" required><br><br>
        <label for="start_time">Start Time:</label>
        <input type="time" id="start_time" name="start_time" required><br><br>
        <label for="end_time">End Time:</label>
        <input type="time" id="end_time" name="end_time" required><br><br>
        <button type="submit" name="schedule_meeting">Schedule Meeting</button>
    </form>


<h2>Scheduled Meetings</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Employee</th>
    <th>Manager</th>
  </tr>
  {% for meeting in scheduled_meetings %}
  <tr>
    <td>
        {% if meeting[0] is string %}
            {{ meeting[0] }}
        {% else %}
            {{ meeting[0].strftime('%Y-%m-%d') }}
        {% endif %}
    </td>
    <td>{{ meeting[1] }}</td>  <!-- Start Time -->
    <td>{{ meeting[2] }}</td>  <!-- End Time -->
    <td>{{ meeting[3] }}</td>  <!-- Employee Username -->
    <td>{{ meeting[4] }}</td>  <!-- Manager Username -->
  </tr>
  {% endfor %}
</table>




</body>
</html>
