<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>View Attendance</title>
</head>
<body>
<body style="background-image: url('static/background.jpg'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
    <h1>View Attendance</h1>
    
    <form method="post" action="{{ url_for('view_attendance') }}">
        <label for="selected_date">Select Date:</label>
        <input type="date" id="selected_date" name="selected_date" required>
        <button type="submit">View Attendance</button>
    </form>
    
    {% if attendance_records %}
    <h2>Attendance Records for All Employees</h2>
    <table>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for record in attendance_records %}
        <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <a href="{{ url_for('manager_dashboard') }}">Go Back to Manager Dashboard</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
