<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>View PDF Documents</title>
</head>
<body>
<body style="background-image: url('static/background.jpg'); background-repeat: no-repeat;background-size: cover; background-attachment: fixed;">
    <h1>Available PDF Documents</h1>
    <ul>
        <!-- Display links for available PDF documents -->
        {% for pdf_file in pdf_files %}
            <li><a href="{{ url_for('open_pdf', filename=pdf_file) }}">{{ pdf_file }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
