/* Resetting default styles */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Global styles */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; /* Center text content */
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; /* Center text content */
}

p {
    margin-bottom: 10px;
    text-align: center; /* Center text content */
}

a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center; /* Center text content */
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin-left: 20px;
    text-align: center; /* Center text content */
}

/* Login page styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically */
    align-items: center; /* Align items horizontally */
}

.title {
    text-align: center; /* Center text content */
    margin-bottom: 20px;
    font-size: 24px;
    justify-content: center; /* Align items vertically */
    align-items: center; /* Align items horizontally */
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
textarea {
    display: block;
    width: 60%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}
input {
    display: block;
    width: 60%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

        /* CSS styles for buttons and dropdown */
        button[type="submit"]{
            padding: 0.6em 2em;
            border: none;
            outline: none;
            color: rgb(255, 255, 255);
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            transform-origin: center; /* Keep the button stationary while enlarging */
            margin: 10px; /* Added spacing between buttons */
            display: inline-block; /* Ensures buttons are on the same line */
        }

        button[type="submit"]:hover {
    transform: scale(1.1); /* Zoom effect */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
}


button[type="submit"]:before {
            content: "";
            background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
            );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing-button-85 20s linear infinite;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
        }

        @keyframes glowing-button-85 {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 0 0;
            }
            100% {
                background-position: 0 0;
            }
        }

        button[type="submit"]:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #222;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

        .action-button-container {
            margin-top: 20px; /* Added spacing between buttons and picture */
            text-align: center;
        }

        select {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }



input[type="text"],
input[type="password"],
select,
input[type="date"],
input[type="time"],
button[type="submit"] {
    display: block;
    width: 60%;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    display: block;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    margin: 0 auto;
    background-color: #0056b3;
}

.error-message {
    margin: 0 auto;
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center; /* Center text content */
}

/* App-specific styles */


.progress-container {
    margin-bottom: 10px;
    text-align: center; /* Center text content */
}

.progress-bar {
    background-color: #4caf50;
    height: 20px;
    color: white;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
}

.done {
    background-color: #ccc;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
